.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
  }
  
  .search_form {
    max-width: 100em;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 6.5em;
    background-color: transparent;
    border: 1px solid #dc3545;
    border-radius: 2rem;
  }
  
  .search_form input {
    margin-right: 10px;
    width: 70em;
    margin-bottom: 0;
    background-color: transparent;
  }
  
  .noposts {
    text-align: center;
  }
  
  .noposts p {
    margin-bottom: 1.5em;
  }
  
  .noposts a {
    padding: 10px 25px;
  }